.hiddenSpellError {
	background-color: rgba(255, 0, 0, 0.2);
	cursor: pointer;
}

.hiddenGrammarError {
	background-color: #fee481;
	cursor: pointer;
}

.hiddenSuggestion {
	background-color: #fee481;
}

#tinymce {
	margin: 0 !important;
}

#tinymce, #tinymce td, #tinymce pre, #tinymce p {
	color: #555 !important;
	font-size: 14px !important;
	line-height: 1.0em !important;
}
