.pull-bottom {
	margin-top: 15px;
}

.container hr, .container-fluid hr {
	margin: 10px 0 0 0;
}

.form-group {
	margin-top: 15px;
	margin-bottom: 0;
}

.btn-sm-padding {
	padding: 3px 12px;
}

.btn-md-padding {
	padding: 3px 16px;
}

.btn-lg-padding {
	padding: 3px 24px;
}

.panel-heading .panel-title small, .panel-heading .panel-title a {
	color: inherit;
}

#interim-message .panel {
	margin: 0 16px;
}

#interim-message {
	display: none;
}

#interim-transcript {
	margin-left: 20px;
}

.icon {
	max-width: 20px;
	max-height: 20px;
	margin: 6px;
}

#record > i.recording {
	color: #F00;
}

.mceEditor table {
	max-height: 190px;
	vertical-align: top;
}

.mceEditor tr.mceLast {
	display: none !important;
}

.mceEditor td {
	padding: 0 !important;
}

.mceEditor iframe {
	margin: 0 !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	padding: 6px 12px !important;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
